main {
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@media only screen and (min-width: 992px) {
	.intro {
		margin-left: 10px;
		max-width: 550px;
	}
}

.contact {
}
